@import 'fn'
#index
  background url(../img/bg.png) no-repeat
  background-size 100% auto
  header
    position fixed
    top 0
    left 0
    right 0
    height em(50)
    overflow hidden
  footer
    position fixed
    bottom 0
    left 0
    right 0
    height em(50)
    overflow hidden
  .copyright
    position absolute
    bottom em(20)
    left 0
    right 0
    overflow hidden
    text-align center
    color #ffffff
    font-size em(11)
  .finger-layer
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    z-index 99
    background rgba(255, 255, 255, 0.17)
  .finger
    width em(50)
    height em(50)
    top 55%
    left 50%
    position absolute
    z-index 100
    animation: move_finger 1.5s linear infinite;
    >img
      width em(30)
  .wave
    position absolute
    left 0
    bottom 0
    height em(50)
    width 200%
    background-size: 50% auto;
    background-position: 0 bottom;
    background-repeat repeat no-repeat
    transform-origin: center bottom;
    opacity 0.3
    -webkit-transform-style: preserve-3d;

    &.wave-top
      background-image url(../img/wave-top.png)
      animation: move_wave 3s linear infinite;
    &.wave-mid
      background-image url(../img/wave-mid.png)
      animation: move_wave 6s linear infinite;
    &.wave-bot
      background-image url(../img/wave-bot.png)
      animation: move_wave 9s linear infinite;
  .wave-head
    position absolute
    left 0
    top 0
    height em(50)
    width 200%
    background-size: 50% auto;
    background-position: 0 top;
    background-repeat repeat no-repeat
    transform-origin: center top;
    opacity 0.3
    -webkit-transform-style: preserve-3d;
    &.wave-top-head
      background-image url(../img/wave-top-1.png)
      animation: move_wave 6s linear infinite;
    &.wave-mid-head
      background-image url(../img/wave-mid-1.png)
      animation: move_wave 9s linear infinite;
    &.wave-bot-head
      background-image url(../img/wave-bot-1.png)
      animation: move_wave 15s linear infinite;
  .ripple
    width em(640)
    font-size 0
    >img
      width em(320)
      margin-left em(-3)
  .swiper-container
    position absolute
    top 0
    bottom 0
    left 0
    right 0

@keyframes move_wave {
  0% {
    transform: scaleY(1) translateX(0)
  }
  50% {
    transform: scaleY(0.55) translateX(-25%)
  }
  100% {
    transform: scaleY(1) translateX(-50%)
  }
}

@keyframes move_finger {
  0% {
      transform: translateX(0)
      opacity 1
    }
  80% {
    transform: translateX(em(-80))
    opacity 1
  }
  100% {
      transform: translateX(em(-80))
      opacity 0
    }
}