body {
  background-color: rgba(0,0,0,0.5);
  background: url("../img/login-bg.jpg") no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}
.login {
  padding-top: 76px;
  width: 300px;
  margin: auto;
}
form {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.login_btn {
  width: 100%;
  margin-top: 30px;
}
